.vlText{z-index:200;position:absolute;background-color:#EEEEEE;border:2px solid #333;max-width:600px;font-size:12px;font-family:Arial;}
.vlTextTitle{background-color:#82b2fa;padding:3px;text-align:left;}
.vlTextBody{background-color:#ffffdc;padding:3px;text-align:left;}